/* 0 - html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}

@font-face {
    font-family: 'renault_liferegular';
    src: url('../font/renaultlife-regular-webfont.eot');
    src: url('../font/renaultlife-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/renaultlife-regular-webfont.woff2') format('woff2'),
         url('../font/renaultlife-regular-webfont.woff') format('woff'),
         url('../font/renaultlife-regular-webfont.ttf') format('truetype'),
         url('../font/renaultlife-regular-webfont.svg#renault_liferegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* - base */

body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: RenaultLife, Arial, sans-serif;
  /* Slightly bolder letters; for webkit-base browsers like Safari and Chrome
  (effect on Mac only) */
  -webkit-font-smoothing: subpixel-antialiased;
  /* Slightly lighter letters; for Firefox (effect on Mac only) */
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
}

#wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#header {
  width: 100%;
  height: 50%;
  background: url(../images/header1.jpg) no-repeat;
  background-size: 137%;
  background-position: 100%;
}

#logo {
  float: right;
  width: 42%;
  height: 15vw;
  margin-top: 15%;
  margin-right: 15px;
  background: url(../images/logo_renault.png) no-repeat;
  background-size: contain;
}

p.heading {
  position: absolute;
  top: 23vh;
  left: 6vw;
  font-family: 'renault_liferegular', Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8em;
  color: #fff;
}

.usp {
  margin-top: 0.6em;
}

.usp img {
  width: 42%;
  float: left;
  margin-right: 1.5em;
}

.usp p {
  font-family: 'renault_liferegular', Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  margin-left: 0.2em;
}

.usp p.conditions {
  font-size: 1em;
  margin-top: 1em;
  float:left;
}

#cta {
  position: absolute;
  width: 100%;
  height: 10vw;
  bottom: 2%;
  background: url(../images/cta.png) no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (orientation: landscape) {
  #header {
    position: absolute;
    width: 55%;
    height: 100%;
    background-size: 176%;
    background-position: 90% 66%;
    left: 0;
    z-index: 2;
  }
  #logo {
    float: right;
    width: 42%;
    height: 15vw;
    margin-top: 5vh;
    margin-right: 25px;
  }
  p.heading {
    top: 25%;
    font-size: 2.5em;
  }
  .slide:nth-child(4) p {
    font-size: 1.3em;
  }
  #usp_container {
    position:absolute;
    width: 45%;
    height: 100%;
    right: 0;
  }
  #usp_slider {
    top: 5%;
    z-index: 1;
  }
  .usp img {
    width: 55%;
    margin-bottom: 1.5em;
    float:none;
  }
  .usp p {
    font-size: 1.5em;
  }
  .usp p.conditions {
    font-size: 1.1em;
  }
  #cta {
    height: 5vw;
    bottom: 3%;
  }
}

@media screen and (orientation: landscape) and (max-height: 250px) and (max-width: 568px) {
  .usp img {
    width: 40%;
    margin-bottom: 1.5em;
    float: none;
  }
  #cta {
    height: 5vw;
    bottom: 6%;
  }
  .slider-nav-container {
    bottom: 10%;
  }
}

@media screen and (orientation: landscape) and (max-height: 320px) and (min-width: 660px) {
  .usp img {
    width: 40%;
    margin-bottom: 1.5em;
    float: none;
  }
  #cta {
    height: 5vw;
    bottom: 6%;
  }
  .slider-nav-container {
    bottom: 8%;
  }
}

@media only screen and (orientation: portrait) and (max-height: 440px) {
  p.heading {
    top: 16vh;
  }
  #logo {
    width: 28%;
  }
  #header {
    height: 38%;
  }
}

@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 414px) and (min-height:530px) {
  #usp_slider {
    height: 90%;
  }
}

@media only screen and (orientation:portrait) and (min-height: 800px) and (min-width: 768px) {
  #header {
    background-size: 135%;
    background-position: 90% 80%;
  }
  #logo {
    width: 30%;
  }
  p.heading {
    top: 14vh;
    font-size: 1.5em;
  }
  #usp_container {
    height: 53%;
  }
  .usp p.conditions {
    font-size: 0.6em;
  }
  #cta {
    height: 8vw;
  }
}

/* SLIDER */

/* END SLIDER */

/* 1 - preloader */

#acf-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  /*line-height:470px;*/
  text-align: center;
  z-index: 100;
}
#acf-loader span {
  display: block;
  -webkit-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}
#spiner {
  position: relative;
  margin: 0 auto;
  height: 35px;
  width: 35px;
  border-top: 4px solid lightgrey;
  border-left: 4px solid orange;
  border-bottom: 4px solid lightgrey;
  border-right: 4px solid orange;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-animation: rotate 0.8s infinite linear;
  animation: rotate 0.8s infinite linear;
}
.landscapeMode #imagesLoaderContainer {
  position: absolute;
  margin: 25% 48%;
  vertical-align: top;
}
#imagesLoaderContainer {
  position: absolute;
  margin: 45% 48%;
  vertical-align: top;
}

/* loader css motion */

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* 2 - helpers */

.hide {
  display: none;
}
.visible {
  display: block;
}
.motion {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.toggleScale {
  -webkit-animation-name: toggleScale;
  animation-name: toggleScale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@-webkit-keyframes toggleScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes toggleScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}
