#usp_container {
  width: 100%;
  height:45%;
  background-color: #000;
}

#usp_slider {
  position:relative;
  width: 90%;
  height: 80%;
  min-height: 195px;
  margin: 0 auto;
  color: #fff;
  z-index: 9;
  letter-spacing:0.05em;
  font-family: 'renault_liferegular', Arial, sans-serif;
  /* Slightly bolder letters; for webkit-base browsers like Safari and Chrome
  (effect on Mac only) */
  -webkit-font-smoothing: subpixel-antialiased;
  /* Slightly lighter letters; for Firefox (effect on Mac only) */
  -moz-osx-font-smoothing: grayscale;
}

#usp_slider .title {
  display: table;
  height: 8vh;
  font-size: 1.8em;
}

#usp_slider .title .cell {
  display: table-cell;
  vertical-align: bottom;
}

.slide {
  width: 100%;
}

.slider-nav-container {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 1%;
  text-align: center;
}

.slider-nav {
  display: inline-block;
  width: 2vh;
  height: 2vh;
  background-color: #fff;
  margin-left: 2px;
  border-radius: 10px;
  -webkit-border-raidus: 10px;
  z-index: 11;
}

@media screen and (orientation: landscape) {
  .slider-nav {
    width: 2vw;
    height: 2vw;
  }
  .slider-nav-container {
    height: 5%;
    bottom: 2%;
    text-align: center;
  }
}

@media only screen and (orientation:portrait) and (min-height: 800px) and (min-width: 768px) {
  #usp_slider .title {
    font-size: 1.4em;
  }
  .slider-nav-container {
    height: 5%;
    bottom: 4%;
    text-align: center;
  }
  .slide {
    width: 95%;
  }
}

@media only screen and (orientation:portrait) and (min-height: 950px) and (min-width: 768px) {
  .slide {
    width: 98%;
  }
}

.slider-nav:first-child {
  background-color: #F2EF24;
}
